body {
  background-color: #000 !important;
  color: #fff !important;
  font-family: 'Poppins', monospace !important;
}

a {
  color: #fff !important;
}

nav, .masthead, footer, .page__footer {
  background: none !important;
  border: none !important;
  color: #fff !important;
}

.page, .page__inner-wrap {
  background: none !important;
  box-shadow: none !important;
}

h1, h2, h3 {
  color: #fff;
  font-family: 'Poppins', monospace;
}

code, pre {
  background-color: #111;
  color: #33ff33;
  border: none;
}

.terminal {
  background: #111;
  padding: 1rem;
  color: #33ff33;
  font-family: monospace;
  border: 1px solid #33ff33;
  border-radius: 4px;
}
.page__meta .taxonomy__item {
  background-color: #111;
  color: #ff9933;
  border: 1px solid #ff9933;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: 0.75rem;
  display: inline-block;
  font-family: monospace;
}
